html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.layout .header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.layout .header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0,0,0,0.38);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mdl-layout__tab-bar-button {
  display: none;
}
.is-compact .mdl-layout__drawer-button {
  margin: 0px 12px;
}
.drawer {
  border: none;
}
/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}
.drawer .navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.layout .navigation {
  background-color: #00BCD4;
  color: #37474F;
}
.mdl-navigation__link:hover {
  background-color: #263238 !important;
}
.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.content {
  max-width: 1200px;
  /*min-height: 540px;*/
}

.common-content {
  margin-left: 240px;
}

@media screen and (max-width: 1024px) {
  .common-content {
    margin-left: 0px;
  }
}

.cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.cards .separator {
  height: 32px;
}
.cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.cards ul {
  padding: 0;
}
.cards h3 {
  font-size: 1em;
}
.cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.options h3 {
  margin: 0;
}
.options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.options ul {
  margin: 0;
  list-style-type: none;
}
.options li {
  margin: 4px 0;
}
.options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.show-chart {
  /*width:100%;*/
  min-height:360px;
}
.primary-text {
  color: rgba(0, 0, 0, 0.87);
}
.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
.hint-text {
  color: rgba(0, 0, 0, 0.38);
}
.inactive-icon {
  color: rgba(0, 0, 0, 0.38);
}
.material-icons:active {
  color: rgba(0, 0, 0, 0.54);
}
